<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="css/bootstrap.min.css" rel="stylesheet">
  <title>8784</title>
  <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>
  <!-- 네비게이션 바 -->
  <div th:insert="~{fragment/nav :: nav}"></div>

  <!-- 상품 리스트 테이블 -->
  <table class="table">
    <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col">사입 날짜</th>
      <th scope="col">상점명</th>
      <th scope="col">구매명</th>
      <th scope="col">판매명</th>
      <th scope="col">색상</th>
      <th scope="col">카테고리</th>
      <th scope="col">사이즈</th>
      <th scope="col">성별</th>
      <th scope="col">구매량</th>
      <th scope="col">원가</th>
      <th scope="col">판매가</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${itemList}">
      <td th:text="${item.id}"></td>
      <td th:text="${item.purchaseDate}"></td>
      <td th:text="${item.store}"></td>
      <td><a th:href="@{/item/list/{id}(id = ${item.id})}" th:text="${item.buyName}"></a></td>
      <td><a th:href="@{/item/list/{id}(id = ${item.id})}" th:text="${item.saleName}"></a></td>
      <td th:text="${item.color}"></td>
      <td th:text="${item.category.getDescription()}"></td>
      <td th:text="${item.size.getDescription()}"></td>
      <td th:text="${item.gender.getDescription()}"></td>
      <td th:text="${item.quantity}"></td>
      <td th:text="${item.unitCost}"></td>
      <td th:text="${item.price}"></td>
    </tr>
    </tbody>
  </table>


  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center"
        th:with="start=${T(java.lang.Math).floor(itemList.number/10)*10 + 1},
                  last=(${start + 9 < itemList.totalPages ? start + 9 : itemList.totalPages})">

      <li class="page-item">
        <a class="page-link" th:href="@{/item/list(page=1)}" aria-label="First">
          <span aria-hidden="true">First</span>
        </a>
      </li>

      <li class="page-item" th:class="${itemList.isFirst()} ? 'disabled'">
        <a class="page-link" th:href="${itemList.isFirst()} ? '#' : @{/item/list(page=${itemList.number})}" aria-label="Previous">
          <span aria-hidden="true">&lt;</span>
        </a>
      </li>

      <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == itemList.number + 1} ? 'active'">
        <a class="page-link" th:text="${page}" th:href="@{/item/list(page=${page})}"></a>
      </li>

      <li class="page-item" th:class="${itemList.last} ? 'disabled'">
        <a class="page-link" th:href="${itemList.last} ? '#' : @{/item/list(page=${itemList.number + 2})}" aria-label="Next">
          <span aria-hidden="true">&gt;</span>
        </a>
      </li>

      <li class="page-item">
        <a class="page-link" th:href="@{/item/list(page=${itemList.totalPages})}" aria-label="Last">
          <span aria-hidden="true">Last</span>
        </a>
      </li>
    </ul>
  </nav>
</body>
</html>