<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <title>8784</title>
</head>

<body>
<div th:insert="~{fragment/nav :: nav}"></div>
<div class="container">
    <div class="py-5 text-center">
        <h1>詳細ページ</h1>
    </div>

    <form th:object="${item}">
        <div class="text-center">
            <h3 for="qrCode">QR コード</h3>
            <img id="qrCode" th:src="|data:image/png;base64,${item.base64}|"/>
        </div>

        <div class="container">
            <table class="mx-auto mb-2">
                <tbody>
                <tr>
                    <td>
                        <div>
                            <label for="purchaseDate">사입 날짜</label>
                            <input type="text" id="purchaseDate" th:field="*{purchaseDate}" class="form-control"
                                   readonly>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="category">카테고리</label>
                            <input type="text" id="category" th:field="*{category}" class="form-control" readonly>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="store">상점명</label>
                            <input type="text" id="store" th:field="*{store}" class="form-control" readonly>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="mx-auto mb-2">
                <tbody>
                <tr>
                    <td>
                        <div>
                            <label for="buyName">구매명</label>
                            <input type="text" id="buyName" th:field="*{buyName}" class="form-control" readonly>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="saleName">판매명</label>
                            <input type="text" id="saleName" th:field="*{saleName}" class="form-control" readonly>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="price">판매가</label>
                            <input type="text" id="price" th:field="*{price}" class="form-control" readonly>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="mx-auto mb-2">
                <tbody>
                <tr>
                    <td>
                        <div>
                            <label for="color">색상</label>
                            <input type="text" id="color" th:field="*{color}" class="form-control" readonly>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="size">사이즈</label>
                            <input type="text" id="size" th:field="*{size}" class="form-control" readonly>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="gender">성별</label>
                            <input type="text" id="gender" th:field="*{gender}" class="form-control" readonly>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="mx-auto mb-2">
                <tbody>
                <tr>
                    <td>
                        <div>
                            <label for="quantity">구매량</label>
                            <input type="text" id="quantity" th:field="*{quantity}" class="form-control" readonly>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="unitCost">원가</label>
                            <input type="text" id="unitCost" th:field="*{unitCost}" class="form-control" readonly>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="stock">재고</label>
                            <input type="text" id="stock" th:field="*{stock}" class="form-control" readonly>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

    <div class="row text-center">
        <div class="col-md-6 m-auto">
            <button class="w-100 btn btn-success btn-lg my-3"
                    th:onclick="|location.href='@{/item/modify/{id}(id=${item.id})}'|" type="button">
                修正する
            </button>
        </div>
        <div class="col-md-6 m-auto">
            <button class="w-100 btn btn-warning btn-lg my-3"
                    th:onclick="|location.href='@{/item/list}'|" type="button">
                商品リスト
            </button>
        </div>
    </div>

</body>
</html>