<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>8784 Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
          integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <!--  <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('.btnAdd').click(function () {
                $('.buttons').append(
                    '    <tr class="trRemover">\n' +
                    '      <td><input class="mt-2 form-control form-control-sm" type="text" name="purchaseDate"></td>\n' +
                    '      <td><input class="mt-2 form-control form-control-sm" type="text" name="store"></td>\n' +
                    '      <td><input class="mt-2 form-control form-control-sm" type="text" name="buyName"></td>\n' +
                    '      <td><input class="mt-2 form-control form-control-sm" type="text" name="saleName"></td>\n' +
                    '      <td><input class="mt-2 form-control form-control-sm" type="text" name="color"></td>\n' +
                    '      <td>\n' +
                    '        <select class="mt-2 form-select form-select-sm" name="category">\n' +
                    '          <option value="">카테고리 선택</option>\n' +
                    '          <option value="OUTER">아우터</option>\n' +
                    '          <option value="DRESS">원피스</option>\n' +
                    '          <option value="SWEATER">스웨터</option>\n' +
                    '          <option value="SHIRT">셔츠</option>\n' +
                    '          <option value="PANT">바지</option>\n' +
                    '          <option value="SKIRT">치마</option>\n' +
                    '          <option value="SHOE">신발</option>\n' +
                    '          <option value="ACC">악세사리</option>\n' +
                    '        </select>\n' +
                    '      </td>\n' +
                    '      <td>\n' +
                    '        <select class="mt-2 form-select form-select-sm" name="size">\n' +
                    '          <option value="">사이즈 선택</option>\n' +
                    '          <option value="F">Free</option>\n' +
                    '          <option value="S">Small</option>\n' +
                    '          <option value="M">Medium</option>\n' +
                    '          <option value="L">Large</option>\n' +
                    '          <option value="SHOE_225">225</option>\n' +
                    '          <option value="SHOE_230">230</option>\n' +
                    '          <option value="SHOE_235">235</option>\n' +
                    '          <option value="SHOE_240">240</option>\n' +
                    '        </select>\n' +
                    '      </td>\n' +
                    '      <td>\n' +
                    '        <select class="mt-2 form-select form-select-sm" name="gender">\n' +
                    '          <option value="">성별 선택</option>\n' +
                    '          <option value="MAN">남자</option>\n' +
                    '          <option value="WOMAN">여자</option>\n' +
                    '          <option value="BOTH">공용</option>\n' +
                    '        </select>\n' +
                    '      </td>\n' +
                    '      <td><input class="mt-2 form-control form-control-sm" type="text" name="quantity"></td>\n' +
                    '      <td><input class="mt-2 form-control form-control-sm" type="text" name="unitCost"></td>\n' +
                    '      <td><input class="mt-2 form-control form-control-sm" type="text" name="price"></td>\n' +
                    '      <td><input type="button" class="mt-2 btnRemove btn btn-danger btn-sm" value="Remove"></td>\n' +
                    '    </tr>'
                ); // end append
                $('.btnRemove').on('click', function () {
                    console.log($(this).parents("tr"));
                    $(this).parents("tr").remove();
                });
            }); // end click
        }); // end ready
    </script>
</head>

<body>
<div th:insert="~{template/fragment/nav :: nav}"></div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-secondary bg-opacity-25">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Main</span>
                        </a>
                    </li>

                    <li>
                        <a href="http://localhost:8080/item/add" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-bag-plus-fill"></i> <span class="ms-1 d-none d-sm-inline">상품 등록</span></a>
                    </li>

                    <li>
                        <a href="http://localhost:8080/item/list" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-search"></i> <span class="ms-1 d-none d-sm-inline">상품 조회</span></a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">거래처</span> </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">판매 목록</span></a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-currency-yen"></i> <span class="ms-1 d-none d-sm-inline">매출 관리</span></a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-receipt-cutoff"></i> <span
                                class="ms-1 d-none d-sm-inline">경비 관리</span></a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-sticky"></i> <span class="ms-1 d-none d-sm-inline">메모</span></a>
                    </li>

                    <li>
                        <a href="http://localhost:8080/logout" th:method="post" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person-x-fill"></i> <span class="ms-1 d-none d-sm-inline">로그아웃</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <h1 class="py-3 text-center">상품 등록</h1>
            <div class="align-items-center mb-4">
                <ol class="mx-auto list-group list-group-numbered w-75">
                    <li class="list-group-item list-group-item-danger">저장을 하기 전에 모든 칸을 다 채워주세요.</li>
                    <li class="list-group-item list-group-item-warning">DB에서 (상점이름 + 구매명 + 색상 + 사이즈 + 원가)가 동일한 상품이 있다면
                        새로 등록되지 않고,
                        수량과 재고만 올려줍니다.
                    </li>
                </ol>
            </div>
            <form th:action method="POST">
                <table class="buttons">
                    <tr class="text-center">
                        <th class="border bg-primary bg-opacity-25">사입 날짜</th>
                        <th class="border bg-primary bg-opacity-25">상점 이름</th>
                        <th class="border bg-primary bg-opacity-25">구매명</th>
                        <th class="border bg-primary bg-opacity-25">판매명</th>
                        <th class="border bg-primary bg-opacity-25">색상</th>
                        <th class="border bg-primary bg-opacity-25">카테고리</th>
                        <th class="border bg-primary bg-opacity-25">사이즈</th>
                        <th class="border bg-primary bg-opacity-25">성별</th>
                        <th class="border bg-primary bg-opacity-25">수량</th>
                        <th class="border bg-primary bg-opacity-25">원가</th>
                        <th class="border bg-primary bg-opacity-25">판매가격</th>
                        <th class="border bg-primary bg-opacity-25">+/-</th>
                    </tr>
                    <tr class="table-info">
                        <td><input class="form-control form-control-sm" type="text" name="purchaseDate" placeholder="ex) 2022.10"></td>
                        <td><input class="form-control form-control-sm" type="text" name="store"></td>
                        <td><input class="form-control form-control-sm" type="text" name="buyName"></td>
                        <td><input class="form-control form-control-sm" type="text" name="saleName"></td>
                        <td><input class="form-control form-control-sm" type="text" name="color"></td>
                        <td>
                            <select class="form-select form-select-sm" name="category">
                                <option value="">카테고리 선택</option>
                                <option th:each="category : ${categories}" th:value="${category.name()}"
                                        th:text="${category.getDescription()}"></option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select form-select-sm" name="size">
                                <option value="">사이즈 선택</option>
                                <option th:each="size : ${sizes}" th:value="${size.name()}"
                                        th:text="${size.getDescription()}"></option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select form-select-sm" name="gender">
                                <option value="">성별 선택</option>
                                <option th:each="gender : ${genders}" th:value="${gender.name()}"
                                        th:text="${gender.getDescription()}"></option>
                            </select>
                        </td>
                        <td><input class="form-control form-control-sm" type="text" name="quantity"></td>
                        <td><input class="form-control form-control-sm" type="text" name="unitCost"></td>
                        <td><input class="form-control form-control-sm" type="text" name="price"></td>
                        <td><input type="button" class="btnAdd btn btn-success btn-sm" value="Add"></td>
                    </tr>
                </table>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg w-25 mt-5" type="submit">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>